# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# Custom exclusions
data/
